._semi-bold {
  font-weight: 600;
}

._period-selector {
  margin: 20px;
  justify-content: center;
}

._period-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  /* height: 3rem; */
  font-size: 20px;
  width: auto;
  margin: 1rem;
  padding-right: 30px;
  padding-left: 30px
}

._btn {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

._input-field {
  font-size: 1.2rem;
}

._entryItem {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 5px;
  margin: 5px 0;
}

._income {
  background-color: rgb(161, 240, 220);
}

._expense {
  background-color: rgb(240, 161, 168);
}

._entry-day {
  font-size: 1.5rem;
  font-weight: 600;
}

._entry-description {
  font-size: 1.3rem
}

._entry-type {
  font-weight: 600;
}

._entry-value {
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: 1rem;
}

._days-space {
  margin-top: 20px;
}

._action-icon {
  display: block;
  cursor: pointer;
}

._editor-modal-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: auto;
}

._type-radio {
  font-size: 1.3rem !important
}

._display-line {
  border: 1px solid #26a69a;
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

._display-field {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin: auto;
}

._space-between {
  display: flex;
  justify-content: space-between;
}

._flex-column {
  display: flex;
  flex-direction: column;
  /* width: 30%; */
  /* min-width: 300px; */
}

._row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

._footer {
  margin-top: 30px;
  font-size: 1.2rem;
}

._logo {
  margin-top: auto;
  margin-bottom: auto;
  /* transform: scale(0.3); */
  /* float: left; */
  /* width: 7vw; */
  /* object-fit: none; */
  /* max-width: 250px;
  margin-left: auto;
  margin-right: auto; */
  /* width: ; */
  /* justify-content: center; */
}