._action-icon {
  display: block;
  cursor: pointer;
  margin-left: 15px;
}

._period-selector {
  margin: 20px;
  justify-content: center;
}

._period-select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  /* outline: none; */
  height: 3rem;
  /* width: 100%; */
  /* font-size: 16px; */
  /* margin: 0 0 8px 0; */
  /* padding: 0; */
  /* -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s; */

  /* height: 42px; */
  /* line-height: 42px; */
  font-size: 20px;
  /* font-weight: 600; */
  width: auto;
  margin: 1rem;
  padding-right: 30px;
  padding-left: 30px
}

/* option {
  outline: none;
  border: 0;
  margin: 15px;
  padding: 15px;
  line-height: 2rem;
  color: blue
} */

/* ._flex-center {
  justify-content: center;
} */

._btn {
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

._input-field {
  font-size: 1.2rem;
}

.select-wrapper {
  margin: 1rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
